/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }

header {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  header a {
    font-family: 'Poiret One', cursive; }
  header hr {
    margin-top: 2px;
    margin-bottom: 4px;
    background-color: black;
    height: 1px; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  nav .icon {
    margin: 5px; }
    nav .icon img {
      height: 30px;
      width: 30px; }

.research, .profil {
  display: flex;
  align-items: center; }

.basket {
  position: relative; }
  .basket .number {
    text-align: center;
    color: white;
    height: 15px;
    width: 15px;
    background-color: #958356;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    left: 15px; }

.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  height: auto; }
  .menu_list .menu_rubrique {
    width: 20%; }
    .menu_list .menu_rubrique h3 {
      padding: 4px;
      background-color: #958356;
      font-family: 'Poiret One', cursive;
      text-decoration: underline; }
    .menu_list .menu_rubrique li {
      font-size: 0.7em;
      font-family: 'Poiret One', cursive; }
    .menu_list .menu_rubrique li:hover {
      background-color: #958356; }

@media only screen and (max-width: 600px) {
  header {
    width: 100%; }

  nav {
    width: 100%; } }
h1 {
  text-decoration: none;
  margin: 10px; }

.store {
  display: flex; }

.zone {
  display: flex; }
  .zone .recherche_produits {
    display: flex; }
    .zone .recherche_produits .recherche {
      width: 20vw;
      display: flex;
      flex-direction: column; }
    .zone .recherche_produits .panier {
      width: 20vw; }
    .zone .recherche_produits .dressing {
      width: 60vw;
      display: flex;
      perspective: 1000px; }
      .zone .recherche_produits .dressing .dressing_left {
        display: flex;
        width: 30%; }
        .zone .recherche_produits .dressing .dressing_left .product {
          width: 15%;
          transform: rotateY(60deg); }
      .zone .recherche_produits .dressing .dressing_right {
        display: flex;
        width: 30%; }
        .zone .recherche_produits .dressing .dressing_right .product {
          width: 15%;
          transform: rotateY(-60deg); }
      .zone .recherche_produits .dressing .dressing_center {
        display: flex;
        flex-direction: column; }

.panier {
  background-color: #F0FBFC; }
  .panier .basket_product {
    display: flex;
    justify-content: space-around; }

/*# sourceMappingURL=shop.css.map */
