@import "../elements/config.scss";
@import "../elements/header.scss";
@import "../elements/footer.scss";

//////////////
main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.photo_titre{
	position: relative;
	img{
		display: block;
		width: 100%;
		height: auto;
		transition: .5s ease;
	}
	.title_begin{
		padding: 0.5em;
		background-color: #958356;
		border: 1px solid black;
		font-family: 'Poiret One', cursive;
		font-size: 2em;
		color: white;
		position: absolute;
		top: 5%;
		left: 6%;
	}
	.title_end{
		padding: 0.5em;
		background-color: #958356;
		border: 1px solid black;
		font-family: 'Poiret One', cursive;
		font-size: 2em;
		color: white;
		position: absolute;
		top: 78%;
		left: 75%;
	}
}
