main{
	width : 80%;
	margin-left: auto;
	margin-right: auto;
	.success{
		width: 100%;
		height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}
