main{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.modele{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 80vh;

	.images{
		width: 50%;
		height: auto;
		display: inline-block;

		.principale{
			width: 100%;
			height: 80%;
			object-fit: cover;
		}
		.miniatures{
			width: 100%;
			height: 20%;
			.miniature{
				height: 100%;
				width: auto;
				object-fit: cover;
			}
		}
	}


	.infoProduit{
		//border: 2px solid black;
		padding: 6px;
		position: relative;
		width: 50%;
		height: auto;

		.nom{
			margin: 10px;
			font-family: 'Poiret One', cursive;
			font-size: 2em;
		}
		.marque{
			font-family: 'Roboto', sans-serif;
			font-size: 1em;
			text-align: center;
		}
		.prix{
			margin: 20px;
			float: right;
			font-family: 'Roboto', sans-serif;
			font-size: 4em;
		}
		.acheter{
			position: absolute;
			top: 40%;
			left: 40%;
			padding: 20px;
			border: 1px solid black;
			border-radius: 6px;
		}
		.description{
			text-align: justify;
			padding: 30px;
			position: absolute;
			bottom: 0;
		}

	}
}

.comments{
	h2{
		font-family: 'Poiret One', cursive;
		font-size: 2em;
		margin: 10px;
		text-decoration: underline;
	}
	h3{
		font-family: 'Poiret One', cursive;
		font-size: 1.5em;
		margin: 20px;
	}
	p{
		font-family: 'Roboto', sans-serif;
		margin-left: 40px;
	}
}

.addComment{
	margin : 20px;
	.commentaireProduit{
		display: flex;
		flex-direction: column;
		label{
			font-family: 'Poiret One', cursive;
			font-size: 1.2em;
		}
		input[type=textarea]{
			width: 100%;
			height: 150px;
			padding: 12px 20px;
			box-sizing: border-box;
			border: 2px solid #ccc;
			border-radius: 4px;
			background-color: #f8f8f8;
			resize: none;
		}
	}
}
