@import "../elements/config.scss";
@import "../elements/header.scss";
@import "../elements/footer.scss";


main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	.products{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.product:hover .product_data{
			display: block;
		}
		.product{
			display: flex;
			position: relative;
			margin : 10px;
			border: 1px solid black;
			width: 200px;
			height: 300px;

			img{
				display: block;
				width: 200px;
				height: 300px;
			}

			.product_data{
				display: none;
				position: relative;
				top: 0px;
				left: 100px;
				height: 300px;
				width: 300px;
				z-index: 100;
				background-color: white;
			}
		}
	}
}

.etiquette_solde{
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 50px;
	width: 80px;
	transform: rotate(-10deg);
	top: 10px;
	left: 120px;
	background-color: #D62C2C;
	border-radius: 8px;
	text-align: center;
	box-shadow: 1px 3px 3px #342F2F;
	z-index: 2;
	.titre{
		line-height: 1.2em;
		display: block;
		font-family: 'Kristi', cursive;
		font-size: 1.8em;
		color: #FFEFEF;
		width: 100%;
		height: 70%;
		//border: 0px 1px solid white;
		//border: 1px solid black;
		//background-color: white;
	}
	.etiquette_logo{
		display: block;
		width: 100%;
		height: 30%;
		border-color: #FFEFEF;
		border-width: 1px 0px 0px 0px;
		border-style: dashed;
		font-family: 'Libre Barcode 39', cursive;
		color: #342F2F;
		line-height: 1.3em;
		//border: 1px 0 0 0 dashed #FFEFEF;
		//border: 1px solid black;

	}
}
