////////////////
footer{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 15px;
	background-color: #958356;
	font-family: 'Poiret One', cursive;
	.newsletter{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-top: 15px;
		margin-bottom: 25px;
		h2{
			text-decoration: underline;
			font-size: 1.4em;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		form{
			margin-top: 15px;
			margin-bottom: 15px;
			input{
				border-radius: 15px 0 0 15px;
				margin-right: 0;
			}
			button{
				margin-left: 0;
				border-radius:  0 15px 15px 0 ;
			}
		}
	}

	////
	.menus_footer{
		margin-top: 15px;
		margin-bottom: 15px;
		display: flex;
		justify-content: space-around;
		h2{
			text-decoration: underline;
			margin-bottom: 10px;
		}
		li:hover{
			background-color: white;
		}
		.paiement_footer{
			ul{
				display: flex;
				flex-wrap: wrap;
				img{
					width: auto;
					height: 50px;
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}
		.social{
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			.icons{

				img{
					width: 40px;
					height: 40px;
					margin: 5px;
				}
			}
		}
	}
	.copyright{
		text-align: center;
		background-color: white;
	}
}
