header{
	width : 80%;
	margin-left: auto;
	margin-right: auto;
	a{
		font-family: 'Poiret One', cursive;
	}

	hr {
		margin-top: 2px;
		margin-bottom: 4px;
		background-color: black;
		height: 1px;
	}
}



nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.icon{
		margin: 5px;
		img{
			height: 30px;
			width: 30px;
		}
	}
}

.research, .profil{
	display: flex;
	align-items: center;
}

.basket{
	position: relative;
	.number{
		text-align: center;
		color: white;
		height: 15px;
		width: 15px;
		background-color: #958356;
		border-radius: 50%;
		border: 1px solid black;
		position: absolute;
		top: 0px;
		left: 15px;
	}
}


.menu_list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;
	height: auto;
	.menu_rubrique{
		width: 20%;
		h3{
			padding: 4px;
			background-color: #958356;
			font-family: 'Poiret One', cursive;
			text-decoration: underline;
		}
		li{
			font-size: 0.7em;
			font-family: 'Poiret One', cursive;
		}
		li:hover{
			background-color: #958356;
		}
	}
}


///////////////////////////// SUITE A REVOIR /////////////////

@media only screen and (max-width: 600px) {
	header{
		width: 100%;
	}
	nav{
		width: 100%;
	}
}
