header{
	width : 80%;
	margin-left: auto;
	margin-right: auto;
	a{
		font-family: 'Poiret One', cursive;
	}

	hr {
		margin-top: 2px;
		margin-bottom: 4px;
		background-color: black;
		height: 1px;
	}
}

a.button{
	background-color: #566895;
	border-radius: 10px;
	padding: 6px;
	margin: 10px;
}
.button:hover{
	background-color: white;
}
//////////////////////////////////// NAV  ////////////////////////////////////


nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.icon{
		margin: 5px;
		img{
			height: 30px;
			width: 30px;
		}
	}
	// .menu_items{
	// 	width: 150px;
	// }
}

//----------- Search  ----------//
.research:hover{
	background-color: #958356;
}

.research:hover .search{
	display: inline-block;
}

.research{
	display: inline-block;
	.search{
		display: none;
		vertical-align: baseline;
	}
}


//----------- Profil  ----------//
.profil:hover{
	background-color: #958356;
}

.profil:hover .profil_actions{
	display: block;
}

.profil{
	position: relative;
	display: inline-block;
	.profil_actions{
		display: none;
		position: absolute;
		background-color: #958356;
		width: 300px;
		height: auto;
		right: 0px;
		z-index: 100;
		.connexion{
			display: flex;
			flex-direction: column;
			justify-content: center;
			.form_zone{
				display: flex;
				justify-content: space-between;

				padding-top: 0px;
				label{
					padding: 20px;
				}
				input{
					padding: 5px;
					margin: 10px;
				}
			}
			// button{
			// 	background-color: #566895;
			// }
		}
		.inscription{
			text-align: center;
		}
	}
}




//----------- Basket  ----------//
.basket:hover{
	background-color: #958356;
}

.basket:hover .basket_list{
	display: block;
}

.basket{
	position: relative;
	display: inline-block;
	.number{
		text-align: center;
		color: white;
		height: 15px;
		width: 15px;
		background-color: #958356;
		border-radius: 50%;
		border: 1px solid black;
		position: absolute;
		top: 0px;
		left: 15px;
	}
	.basket_list{
		display: none;
		position: absolute;
		padding: 3px;
		top: 30px;
		right: 0px;
		width: 300px;
		height: auto;
		background-color: #958356;
		z-index: 100;
		.product{
			height: auto;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			img{
				display: block;
			}
		}
		.basket_summary h3{
			text-align: right;
		}
	}
}




//////////////////////////////////// MENU  ////////////////////////////////////


.menu_list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;
	height: auto;
	.menu_rubrique{
		width: 20%;
		h3{
			padding: 4px;
			background-color: #958356;
			font-family: 'Poiret One', cursive;
			text-decoration: underline;
		}
		li{
			font-size: 0.7em;
			font-family: 'Poiret One', cursive;
		}
		li:hover{
			background-color: #566895;
		}
	}
}







///////////////////////////// SUITE A REVOIR /////////////////

@media only screen and (max-width: 600px) {
	header{
		width: 100%;
	}
	nav{
		width: 100%;
	}
}
